body {
	color: #eee;
	background: url("../assets/images/background.jpg");
	object-fit: cover;
	background-position: center;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
